# Session 2 : Introduction to NumPy and Pandas

Data science and machine learning relies on the ability to easily manipulate large amounts of data, and to efficiently do numerical calculation on this data. This gives rise to libraries specialised in dealing with this problem, and usually working together. This is know as an 'ecosystem', and a central part of the Python ecosystem for data science is the combination of NumPy ('Numerical Python') and Pandas ('Python Data Analysis Library').

NumPy is the block on which Pandas is build, so we will briefly explore the main concepts in NumPy. We will then focus on Pandas, as you will need to use this library extensively in the rest of the course. If you walk away with nothing else from this course, at least know how to use Pandas for your data analysis projects!

## Learning Objectives
1. Understand how array computing avoids bugs and speeds up analysis
2. Basics of NumPy NDArrays
3. Loading data in Pandas
4. Basic terminology of Pandas Series and Dataframes
5. Obtaining basic statistics from dataframes
6. Numerical computation with dataframes
7. Merging data and deleting data

## Table of Content

* [2.0 General Introduction](#intro)
* [2.1 Introduction to NumPy](#npintro)
* [2.2 The NumPy ndarray: A Multidimensional Array Object](#intro)
   * [2.2.1 Creating ndarrays](#creatingarrays)
   * [2.2.2 Arithmetic with NumPy Arrays](#numpyarithmetic)
   * [2.2.3 Mathematical and Statistical Methods](#npstatisticalmethods)
* [2.2.4 Indexing and slicing arrays](#slicing)
* [Exercise 1](#x1)
* [2.3 Getting Started with pandas](#intropandas)
   * [2.3.1 Reading Data into Pandas](#readpandas)
   * [2.3.2 Index Objects and Reindexing](#reindexing)
   * [2.3.3 Dropping Entries from an Axis](#dropping)
* [Exercise 2](#x2)
   * [2.3.4 Indexing, Selection, and Filtering](#indexingdf)
   * [2.3.5 Combining and Merging Datasets](#combine)

## 2.0 General Introduction 
<a id="intro"></a>

In [1]:
from IPython.display import IFrame
display(IFrame('https://youtube.com/embed/NLqkYpK0PsI', width = 640, height = 360))

## 2.1 Introduction to NumPy <a id="npintro"></a>

According to Wikipedia, NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays. NumPy was formally created in 2005 by Travis Oliphant but it incorporates features of the competing former libraries Numarray into Numeric, with extensive modifications. NumPy is open-source software and has many contributors.

Let's explore how NumPy works. First, we have not yet learned to import external libraries into a notebook, so let's see how this works.

Before you can import a library into your notebook, you need to install it into your system. Installing libraries is not the focus of this course, so all libraries are already pre-installed for you. But if you want to learn more about this (it's not very complicated) you can check the documentation for the ['pip install' command](https://pip.pypa.io/en/stable/reference/pip_install/) or the ['conda install' command](https://docs.conda.io/projects/conda/en/latest/commands/install.html), depending on whether you are using a regular distribution of Python or an Anaconda distribution of Python.

Once a library is installed locally on your system, you can use the **import** command to import the library. You did not have to do this up to now because in *Session 1* you only used standard Python command. But NumPy and Pandas are not standard packages. The **import** command syntax to import an entire library is easy:

```python
import name_of_library as local_name_you_want
```

The local name is a shortname that you can use in your notebook. And you only need to import a library once per notebook for it to be available in all of your cells. The NumPy library name is 'numpy' (case sensitive) and it is convention to use the shortname 'np' for it. Again, following conventions ensures your code is more readable so it matters. So let's import the libary:

In [2]:
import numpy as np

Now let's go straight to business with why NumPy is so important. Below we will use the 'arrange' method of NumPy to create a NumPy array containing 1 million numbers. We will also create a plain vanilla Python list containing the same 1 million numbers. Let's do this now:

In [3]:
my_arr = np.arange(1000000)
my_list = list(range(1000000))

The goal is to compare the speed of arithmetic operations between NumPy and plain vanilla python. Remember that NumPy is backed by linear algebra (matrix operations) and it's core is written in C. Plain vanilla Python is an interpreted language, so every command needs to be interpreted first before it is run.

We will use a magic command ('%') called 'time' which returns the time that a given operation takes. Let's first multiply the numbers by 2 using the NumPy calculation and timing it:

In [4]:
%time for _ in range(10): my_arr2 = my_arr * 2

CPU times: user 10.9 ms, sys: 4.96 ms, total: 15.9 ms
Wall time: 14.6 ms

Now let's do that same using plain vanilla Python and a list comprehension:

In [5]:
%time for _ in range(10): my_list2 = [x * 2 for x in my_list]

CPU times: user 577 ms, sys: 169 ms, total: 746 ms
Wall time: 746 ms

And this was a very simple operation, on 'only' 1 million numbers. On my system, the plain vanilla Python is about 40 times slower. It should be clear why NumPy and Pandas (which uses NumPy behind the scene) are so important.

## 2.2 The NumPy ndarray: A Multidimensional Array Object <a id="intro"></a>

Most of data science and machine learning is concerned under the hood with vectors, matrix, and tensor operations. NumPy provide exactly this ability, and the tool for that is known as an 'ndarray' or multidimentionsl array object.

In [6]:
from IPython.display import IFrame
display(IFrame('https://youtube.com/embed/eSMb1Xe2svM', width = 640, height = 360))

### 2.2.1 Creating ndarrays <a id="creatingarrays"></a>

Arrays can easily be creared using the 'array' method of NumPy:

In [7]:
# Let's create a Python list
data1 = [6, 7.5, 8, 0, 1]

# And turn it into an array
arr1 = np.array(data1)
arr1

array([6. , 7.5, 8. , 0. , 1. ])

The preceding example shows how to create a vector, i.e. a 1D array. We can create 2D arrays by giving a nested list of list to NumPy:

In [8]:
#
data2 = [[1, 2, 3, 4], [5, 6, 7, 8]]
arr2 = np.array(data2)
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

We can confirm the dimensions of our array by using the 'ndim' method:

In [9]:
arr2.ndim

2

And we can see the 'shape' of our array, i.e. the size of each dimension, by calling the 'shape' method:

In [10]:
arr2.shape

(2, 4)

In [11]:
# Because shape returns a tuple, I can extract the dimension of any axis by giving an argument to the return value. For instance, here I can extract
# the dimension of the first axis:
arr2.shape[0]

2

To create an array with a range of number, use the 'arange' method:

In [12]:
np.arange(100)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

### 2.2.2 Arithmetic with NumPy Arrays <a id="numpyarithmetic"></a>

One of the most powerful features of NumPy is that you can treat arrays (and thus matrices and tensors) as you would scalar, and thus you can do batch operations very efficiently. Let's demonstrate with an example:

In [13]:
# Let's create a 2D array
arr = np.array([[1., 2., 3.], [4., 5., 6.]])
arr

array([[1., 2., 3.],
       [4., 5., 6.]])

In [14]:
# If we multiply two arrays, the result is that each number in the first array is multiplied by the number in the same position of the second array. 
# This is known as an elementwise operation. So for instance we can square our array:
arr * arr

array([[ 1.,  4.,  9.],
       [16., 25., 36.]])

In [15]:
# And if we subtract values, the same rule applies. Try to predict the result of this cell before you run it.
arr - arr

array([[0., 0., 0.],
       [0., 0., 0.]])

In [16]:
# Arithmetic operations that use scalars propagate the scalar in the operation. For instance, the math below will result in 1/x for all x's in the array
1 / arr

array([[1.        , 0.5       , 0.33333333],
       [0.25      , 0.2       , 0.16666667]])

In [17]:
# And this will put each number in the array to the power of 0.5, which is the same as a square root
arr ** 0.5

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974]])

### 2.2.3 Mathematical and Statistical Methods <a id="npstatisticalmethods"></a>

NumPy arrays come with a range of built-in mathematical and statistical methods that can be extremely useful.

In [18]:
# Let's first create an array for random numbers
arr = np.random.randn(5, 4)
arr

array([[-2.30771279,  0.31870024, -0.35742562,  1.12993554],
       [-1.22797523,  0.67124165,  0.75041122,  0.37408922],
       [-1.55838059, -0.60997816,  0.75204555, -0.71784725],
       [ 0.89310668,  0.44239284, -1.50322394, -0.89834434],
       [ 0.39195535,  1.76757996,  1.2145358 , -0.04050937]])

In [19]:
# We can easily find the mean of the array with this method:
arr.mean()

-0.02577016154437627

In [20]:
# We can also find the sum of the entire array
arr.sum()

-0.5154032308875254

In [21]:
# But what if we are only interested in the sum mean per column? When can pass an axis parameter to the method. Rows are on axis 0, and columns on axis 1.
# More complex ndarrays can have additional axis. Doing this operation results in an array of a lower dimension, in our case, a row vector.
arr.mean(axis=0)

array([-0.76180132,  0.51798731,  0.1712686 , -0.03053524])

In [22]:
# This will produce the sum along each column
arr.sum(axis=1)

array([-1.21650263,  0.56776686, -2.13416044, -1.06606876,  3.33356174])

In [23]:
# Sometimes it can be useful to look at the cummulative sum at each location in your array, starting from position zero.
# 'cumsum' will do just that, add the previous value to the local value in the array, and propagate the result forward
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7])
arr.cumsum()

array([ 0,  1,  3,  6, 10, 15, 21, 28])

In [24]:
# Of course you can also do this on a single axis. Let's create a martix
arr = np.array([[0, 1, 2], [3, 4, 5], [6, 7, 8]])
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [25]:
# Now we can do the cummulative sum, for instance along the row axis (0)
arr.cumsum(axis=0)

array([[ 0,  1,  2],
       [ 3,  5,  7],
       [ 9, 12, 15]])

In [26]:
# We can also do a cummulative product. Let's do this along the column axis this time:
arr.cumprod(axis=1)

array([[  0,   0,   0],
       [  3,  12,  60],
       [  6,  42, 336]])

## 2.2.4 Indexing and slicing arrays <a id="slicing"></a>

It is often useful to 'slice' an array to obtain a smaller, subarray. Whilst doing this, you might also obtain an array with different indexes. As usual for Python, ndarrays are index with 0 being the first position. Let's first look at a simple case where we slice a 1D array. This is not so different than slicing a Python array:

In [27]:
# Create an array
my_arr = np.array([0,1,2,3,4,5,6,7,8,9])
# Slice from 3-4, i.e. start at position 3 and stop at position 4 (remember the last position is not included):
my_arr[3:5]

array([3, 4])

In [28]:
# If you omit one of the two terms of the slice, you obtain all values from/to the value you give:
my_arr[:5]

array([0, 1, 2, 3, 4])

In [29]:
# So this is how you can, for instance, obtain the last position:
my_arr[4:]

array([4, 5, 6, 7, 8, 9])

Arrays with higher dimensions are a bit more trick to deal with.

In [30]:
my_arr2 = np.array([[1,2,3],[4,5,6],[7,8,9]])
my_arr2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [31]:
# You can extract the columns (axis 1) of this data very simply:
my_arr2[0]

array([1, 2, 3])

In [32]:
# You can slice as well, to obtain the first 2 columns for instance:
my_arr2[0:2]

array([[1, 2, 3],
       [4, 5, 6]])

In [33]:
# You can also slice through the higher dimensions by adding a slice argument separated by a comma. For instance, this will
# slice to give you the first row of the first 2 columns:
my_arr2[0:2,0:1]

array([[1],
       [4]])

## Exercise 1 
<a id="x1"></a>

You now have all the elements to do meaningful calculations using ndarrays. We will apply this to a simple example. You are asked to calculate the sedimentation rate in a given well. For this, you are provided with an ndarry of dimension 2 (a matrix). The first vector column represents the depth below seafloor of a stratigraphic marker [**in meters**]. The second column represents the age of the marker in millions of years.

You have two objectives in this exercise:
1. To produce a martix that shows the sedimentation rate between each marker in cm/kyr. Note that the units are different than the units you were given above, so you will need to account for that.
2. I also want to know what the average sedimentation for this site is.

Exercise parameters:
1. You cannot use any type of loops
2. As a hint, you will need to use indexing and slicing. 
3. Keep in mind that you can make several different slices from the original dataset. 
4. Also don't loose sight that a sedimentation rate is calculated *between* two points in a well. So if you have n age points, there will be n-1 sedimentation rates

In [34]:
# The ndarray below represents age in the first column vs burial depth in the second column
age_vs_depth = np.array([[0.5,2.1,3.0,6.1,9.3,12.4,15.3,16.2,16.3,20.1,40.2,41.3,55.2],[15.0,35.0,100.3,160.3,180.4,220.5,241.2,255.0,258.3,312.1,312.1,320.3,380.1]])

#SOLUTION
# First I extract column 1, call it age, and multiply it by 1000 to obtain kyr (not Ma)
age = age_vs_depth[0] * 1E3
# I do the same with depth, but multiply it by 100 as the value is in meters and I need cm
depth = age_vs_depth[1] * 100

In [35]:
# I am interested in the age difference though, not the absolute age. To do this, I can slice my age from  position 1 (i.e. omit the first age) to the end of the array  
# and then subtract from this a different slice that starts at position 0 to one position before the end of the array.
# If you think of it graphically, this is equivalent to subtracting two ages that are adjacent in the age colunmn:

# I need to know the number of elements in my array. I can call the 'shape()' function to extract the number of items in axis 1, the column axis:
nb_measurements = age_vs_depth.shape[1]
age_diff = age[1:] - age[0:nb_measurements-1]
age_diff

array([ 1600.,   900.,  3100.,  3200.,  3100.,  2900.,   900.,   100.,
        3800., 20100.,  1100., 13900.])

In [36]:
# I can now do exactly the same for the depth
depth_diff = depth[1:] - depth[0:nb_measurements-1]
depth_diff

array([2000., 6530., 6000., 2010., 4010., 2070., 1380.,  330., 5380.,
          0.,  820., 5980.])

In [37]:
# Calculting the sedimentation rate is now trivial: I simply need to devide depth by age:
sed_rates = depth/age

In [38]:
# And I can make sure of the mean() function to calculate the mean sedimentation rate:
sed_rates.mean()

# The average sedimentation rate is 1.76 cm/kyr

1.7603325440358626

## 2.3 Getting Started with pandas <a id="intropandas"></a>

According to Wikipedia, pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. It is free software released under the three-clause BSD license.The name is derived from the term "panel data", an econometrics term for data sets that include observations over multiple time periods for the same individuals.Its name is a play on the phrase "Python data analysis" itself. Wes McKinney started building what would become pandas at AQR Capital while he was a researcher there from 2007 to 2010.

In [39]:
from IPython.display import IFrame
display(IFrame('https://youtube.com/embed/jox3od5OB4k', width = 640, height = 360))

Let's first import Pandas as the entire library. However, we also want to be able to refer to the object 'Series' and 'DataFrame' in Pandas, so we will also import specifically these from Pandas. For this, we use this syntax:

```python
from your_library import object1, object2, ..., objectX
```

In [40]:
import pandas as pd
from pandas import Series, DataFrame

### 2.3.1 Reading Data into Pandas <a id="readpandas"></a>

We could go on with programmatic examples and simple arrays turned into pandas objects. That is what most computing courses do. But we are interested in geological data, so rather than do this, let's learn how we can load REAL data into pandas before we play with it.

The data I selected is simply geochemical data collected from the Ocean Drilling Program (ODP) Leg 198 (Walvis Ridge), specifically from ODP Site 1207. The data is stored as a comma separated text file ('.cvs') in the Datasets folder where this notebook is located.

Opening the dataset could not be easier:

In [41]:
geochemistry_df = pd.read_csv('Datasets/1207_Geochemistry.csv')
geochemistry_df

    Leg  Site  H  Cor  T  Sc  Top(cm)  Depth (mbsf)  CaCO3 (wt %)
0   198  1207  A    2  H   2       65          6.95        69.630
1   198  1207  A    2  H   5       33         11.13        49.314
2   198  1207  A    3  H   1       66         14.96        76.000
3   198  1207  A    3  H   2      126         17.06        55.478
4   198  1207  A    3  H   4       70         19.50        46.981
..  ...   ... ..  ... ..  ..      ...           ...           ...
66  198  1207  B   40  R  CC       30        526.80        60.930
67  198  1207  B   44  R   1       60        565.60         0.000
68  198  1207  B   44  R   1       76        565.76         0.000
69  198  1207  B   44  R   1      103        566.03         0.000
70  198  1207  B   46  R   1       52        584.72        64.200

[71 rows x 9 columns]

It's almost magical how this happens! This data structure is known as a 'DataFrame', or 'df' for short. You can think of it as an excel spreadsheet on steroid, as it can have more than 2 dimensions (thought it gets hard to visualise it then). The dataframe has an index (here from 0 to 70), and several series which you can think of as the columns. As discussed, this is all backed by a NumPy array.

Because we will be using ODP/IODP data extensively in this course, and because we will use this particular data in session 2, let's define what the different series are.

'Leg' refers to the particular expedition the drill ship was on. In more recent IODP cruises, this is referred to as the 'Expedition' or 'Exp'.
'Site' means the name of the general area that was drilled, which is a sequential number. Then we have the 'Hole' named 'H' here. A hole is essentially a well, and a site can containt multiple nearby wells.

Then comes the core number ('Cor'), followed by the tool used for coring ('T'), which is a 1 character designation of the drilling technique used. 'Sc' designates the section: each 9.8 meters-long core is cut into 1.5 meters sections for easy handling, with the addition of the core catcher 'CC' which represents material not in the core liner. 'Top(cm)' gives the cm down from the top of the section where the sample is located.

Thus, an ODP/IODP sample can be fully characterized by the combination of the parameters we have seen so far. for instance, the first sample in this dataframe is ODP Sample **198-1207-A-2-H-2-65**.
With this information the 'Depth (mbsf)' which is the depths below seafloor of any sample can be calculated and is included in the dataframe. Finally, the last series (or column) is the % carbonate data measured at this location. 

Comma Separated Values (CSV) is a common format, but not the only existing one. In fact, Pandas can read multiple format just as easily, including JSON, Parket, and Excel, amongst others. Let's open a second dataframe but this time using the Excel format:

In [42]:
ngr_df = pd.read_excel('Datasets/1207_NGR.xls')
ngr_df

     Leg  Site  H  Cor  T  Sc  Top(cm)  Depth (mbsf)  Corr. Counts
0    198  1207  A    1  H   1       30           0.3         20.08
1    198  1207  A    1  H   1       60           0.6         17.48
2    198  1207  A    1  H   1       90           0.9         17.75
3    198  1207  A    1  H   1      120           1.2         20.22
4    198  1207  A    1  H   2       30           1.8         19.22
..   ...   ... ..  ... ..  ..      ...           ...           ...
741  198  1207  B   49  R   1       50         613.7         24.12
742  198  1207  B   49  R   1       60         613.8         21.45
743  198  1207  B   49  R   1       70         613.9         15.22
744  198  1207  B   49  R   1       80         614.0         11.92
745  198  1207  B   49  R   1       90         614.1         10.35

[746 rows x 9 columns]

As you can see, it was just as easy. Excel and CSV are probably some of the most common format you will be using. Note that it is easier to open the old '.xls' files than the newer '.xlsx' files and this is done on purpose: you can install an extension to open the xlsx but it is not recommended as there are potential safety issues around this.

The dataframe above contains natural gamma radiation measured on the cores. The only column that is different fom the previous dataframe is the last one, the 'Corr. Counts' or 'corrected counts'.

### 2.3.2 Index Objects and Reindexing <a id="reindexing"></a>

Dataframes have an index object. If you don't stipulate a series as an index, then the default is a range index from 0 to number of items - 1.

In [43]:
index = geochemistry_df.index
index[:1]

RangeIndex(start=0, stop=1, step=1)

It is possible to reindex a dataframe to obtain a more meaningful index. We have seen that a unique identifier for ODP sample can characterized by a string that incorporates the entire description of the sample location, such as **198-1207-A-2-H-2-65**. So, if we can crate a series that contains this name, we could then use it as a unique index for the samples. The benefit is that we can then compare different datasets by index, and for instance find the same sample in two different dataframes very easily.

So let's try it out. What we want is a combination of 'Leg-Site-H-Cor-T-Sc-Top'. Just like NumPy arrays, we can do elementwise operation on pandas series. A series is extracted using this syntax:

```python
dataframe['series_label']
```

And we can create new series in an existing dataframe simply by using this syntax:

```python
dataframe['new_series_label'] = ...
```

So a for naive approach would be this:

```python
new_index = geochemistry_df['Leg'] + '-' + geochemistry_df['Site'] + '-' \
+ geochemistry_df['H'] + '-' + geochemistry_df['Cor'] + '-' + geochemistry_df['T'] \
+ '-' + geochemistry_df['Sc'] + '-' +geochemistry_df['Top(cm)'] 

# Note the use of the backslash to break a long line of python commands
```

However, this won't compile. If you tried to write this code you would get an ugly error of the type 'UFuncTypeError'. The problem is that some of the values in the columns we are trying to merge are int, some are floats, and some are strings. To be able to concatenate them as strings, they should all be of the type 'str'.

What we need is simply to cast the series that are not strings into a series containing strings. Pandas has this facility and it is easy to use: simply use 'astype()'.

Let's rewrite our command and see how it works:

You quickly see that you get an ugly error. If you dig a bit, there seems to be a UFuncTypeError. So a type error in on of the user defined functions. The problem is clear: some of our values are int, some are floats, and some are strings. And yet we are trying to add them together, which will not work.

What we need is to cast the series that are not strings into a series containing strings. Pandas has this facility and it is easy to use: simply use 'astype'.

Let's rewrite our command and see how it works:

In [44]:
new_index = geochemistry_df['Leg'].astype(str) + '-' + geochemistry_df['Site'].astype(str) + '-' \
+ geochemistry_df['H'].astype(str) + '-' + geochemistry_df['Cor'].astype(str) + '-' \
+ geochemistry_df['T'].astype(str) + '-' + geochemistry_df['Sc'].astype(str) + '-' +geochemistry_df['Top(cm)'].astype(str)

# Let's see it now:
new_index

0       198-1207-A-2-H-2-65
1       198-1207-A-2-H-5-33
2       198-1207-A-3-H-1-66
3      198-1207-A-3-H-2-126
4       198-1207-A-3-H-4-70
              ...
66    198-1207-B-40-R-CC-30
67     198-1207-B-44-R-1-60
68     198-1207-B-44-R-1-76
69    198-1207-B-44-R-1-103
70     198-1207-B-46-R-1-52
Length: 71, dtype: object

In [45]:
# Now all we need to do is to set the index of our dataframe to be equal to our new_index array:

geochemistry_df.index = new_index
geochemistry_df

,Leg,Site,H,Cor,T,Sc,Top(cm),Depth (mbsf),CaCO3 (wt %)
198-1207-A-2-H-2-65,198,1207,A,2,H,2,65,6.95,69.630
198-1207-A-2-H-5-33,198,1207,A,2,H,5,33,11.13,49.314
198-1207-A-3-H-1-66,198,1207,A,3,H,1,66,14.96,76.000
198-1207-A-3-H-2-126,198,1207,A,3,H,2,126,17.06,55.478
198-1207-A-3-H-4-70,198,1207,A,3,H,4,70,19.50,46.981
...,...,...,...,...,...,...,...,...,...
198-1207-B-40-R-CC-30,198,1207,B,40,R,CC,30,526.80,60.930
198-1207-B-44-R-1-60,198,1207,B,44,R,1,60,565.60,0.000
198-1207-B-44-R-1-76,198,1207,B,44,R,1,76,565.76,0.000
198-1207-B-44-R-1-103,198,1207,B,44,R,1,103,566.03,0.000
198-1207-B-46-R-1-52,198,1207,B,46,R,1,52,584.72,64.200

### 2.3.3 Dropping Entries from an Axis <a id="dropping"></a>

Sometimes you want to drop an entry from a dataframe. For instance, to drop the hole name (well name) from the dataset, we can use the 'drop' command in two ways:
```python
df.drop(columns=['column1', 'column2', ...])
```
Or
```python
df.drop(['column1', 'column2', ...], axis=1) # Remember that axis 1 is the column axis, axis 0 the rows in a matrix
```
By default, the 'drop()' method is applied to the rows. So if you don't stipulate the axis, you can use to to drop rows like this:
```python
df.drop(['row1', 'row2', ...]) 
```
Of course if you give it a column name you will receive an error. However, the drop() command can have a bit of a counter intuitive effect. Let's try to drop the well name below, and see if the result is what you expect:

In [46]:
geochemistry_df.drop(columns=['H'])
geochemistry_df

,Leg,Site,H,Cor,T,Sc,Top(cm),Depth (mbsf),CaCO3 (wt %)
198-1207-A-2-H-2-65,198,1207,A,2,H,2,65,6.95,69.630
198-1207-A-2-H-5-33,198,1207,A,2,H,5,33,11.13,49.314
198-1207-A-3-H-1-66,198,1207,A,3,H,1,66,14.96,76.000
198-1207-A-3-H-2-126,198,1207,A,3,H,2,126,17.06,55.478
198-1207-A-3-H-4-70,198,1207,A,3,H,4,70,19.50,46.981
...,...,...,...,...,...,...,...,...,...
198-1207-B-40-R-CC-30,198,1207,B,40,R,CC,30,526.80,60.930
198-1207-B-44-R-1-60,198,1207,B,44,R,1,60,565.60,0.000
198-1207-B-44-R-1-76,198,1207,B,44,R,1,76,565.76,0.000
198-1207-B-44-R-1-103,198,1207,B,44,R,1,103,566.03,0.000
198-1207-B-46-R-1-52,198,1207,B,46,R,1,52,584.72,64.200

Can you spot the problem? The 'H' column is still in our dataframe. So what did we do wrong? The video below explains what happens and the best practice with dataframe, but also data structures in general.

VIDEO ON IMMUTABILITY AND HOW TO DEAL WITH IT

## Exercise 2 <a id="x2"></a>

Create a new version of the geochemistry_df but this one without the well, core and tool columns. Call this new dataframe 'geochemistry_mod_df'.

In [47]:
# SOLUTION

geochemistry_mod_df = geochemistry_df.drop(['H','Cor','T'], axis=1)
geochemistry_mod_df

                       Leg  Site  Sc  Top(cm)  Depth (mbsf)  CaCO3 (wt %)
198-1207-A-2-H-2-65    198  1207   2       65          6.95        69.630
198-1207-A-2-H-5-33    198  1207   5       33         11.13        49.314
198-1207-A-3-H-1-66    198  1207   1       66         14.96        76.000
198-1207-A-3-H-2-126   198  1207   2      126         17.06        55.478
198-1207-A-3-H-4-70    198  1207   4       70         19.50        46.981
...                    ...   ...  ..      ...           ...           ...
198-1207-B-40-R-CC-30  198  1207  CC       30        526.80        60.930
198-1207-B-44-R-1-60   198  1207   1       60        565.60         0.000
198-1207-B-44-R-1-76   198  1207   1       76        565.76         0.000
198-1207-B-44-R-1-103  198  1207   1      103        566.03         0.000
198-1207-B-46-R-1-52   198  1207   1       52        584.72        64.200

[71 rows x 6 columns]

### 2.3.4 Indexing, Selection, Filtering and sorting <a id="indexingdf"></a>

You already know how to extract a whole series from a dataframe simply by calling it by name between '[]'. This section will further your understanding of how to extract and filter data out of a dataframe.

In [48]:
# You can extract one series by calling it by name:
geochemistry_df['CaCO3 (wt %)'] # Watch out, this is case sensitive and typos will lead to a column not found error

198-1207-A-2-H-2-65      69.630
198-1207-A-2-H-5-33      49.314
198-1207-A-3-H-1-66      76.000
198-1207-A-3-H-2-126     55.478
198-1207-A-3-H-4-70      46.981
                          ...
198-1207-B-40-R-CC-30    60.930
198-1207-B-44-R-1-60      0.000
198-1207-B-44-R-1-76      0.000
198-1207-B-44-R-1-103     0.000
198-1207-B-46-R-1-52     64.200
Name: CaCO3 (wt %), Length: 71, dtype: float64

In [49]:
# You can extract more than one series at the time by passing a list of names:
geochemistry_df[['Depth (mbsf)','CaCO3 (wt %)']]

                       Depth (mbsf)  CaCO3 (wt %)
198-1207-A-2-H-2-65            6.95        69.630
198-1207-A-2-H-5-33           11.13        49.314
198-1207-A-3-H-1-66           14.96        76.000
198-1207-A-3-H-2-126          17.06        55.478
198-1207-A-3-H-4-70           19.50        46.981
...                             ...           ...
198-1207-B-40-R-CC-30        526.80        60.930
198-1207-B-44-R-1-60         565.60         0.000
198-1207-B-44-R-1-76         565.76         0.000
198-1207-B-44-R-1-103        566.03         0.000
198-1207-B-46-R-1-52         584.72        64.200

[71 rows x 2 columns]

In [50]:
# Note that all of these operations return a new dataframe, so you can save it as a new dataframe to use later in your code if you want:
depth_vs_carbonate_df = geochemistry_df[['Depth (mbsf)','CaCO3 (wt %)']]
depth_vs_carbonate_df

                       Depth (mbsf)  CaCO3 (wt %)
198-1207-A-2-H-2-65            6.95        69.630
198-1207-A-2-H-5-33           11.13        49.314
198-1207-A-3-H-1-66           14.96        76.000
198-1207-A-3-H-2-126          17.06        55.478
198-1207-A-3-H-4-70           19.50        46.981
...                             ...           ...
198-1207-B-40-R-CC-30        526.80        60.930
198-1207-B-44-R-1-60         565.60         0.000
198-1207-B-44-R-1-76         565.76         0.000
198-1207-B-44-R-1-103        566.03         0.000
198-1207-B-46-R-1-52         584.72        64.200

[71 rows x 2 columns]

In [51]:
# You can also extract a list of boolean values that fit a criteria. For instance, if you use this syntax then 'True' refers to samples with carbonate content >=50%
geochemistry_df['CaCO3 (wt %)'] >=50

198-1207-A-2-H-2-65       True
198-1207-A-2-H-5-33      False
198-1207-A-3-H-1-66       True
198-1207-A-3-H-2-126      True
198-1207-A-3-H-4-70      False
                         ...
198-1207-B-40-R-CC-30     True
198-1207-B-44-R-1-60     False
198-1207-B-44-R-1-76     False
198-1207-B-44-R-1-103    False
198-1207-B-46-R-1-52      True
Name: CaCO3 (wt %), Length: 71, dtype: bool

In [52]:
# Where it gets intersting is that if you pass a list of boolean to a dataframe, it will filter based on this and return a new dataframe containing only the rows where the condition
# is met. So this code results in a new dataframe with samples with carbonate content equal or greater than 50%:
geochemistry_df[geochemistry_df['CaCO3 (wt %)'] >=50]

,Leg,Site,H,Cor,T,Sc,Top(cm),Depth (mbsf),CaCO3 (wt %)
198-1207-A-2-H-2-65,198,1207,A,2,H,2,65,6.95,69.630
198-1207-A-3-H-1-66,198,1207,A,3,H,1,66,14.96,76.000
198-1207-A-3-H-2-126,198,1207,A,3,H,2,126,17.06,55.478
198-1207-A-4-H-4-70,198,1207,A,4,H,4,70,29.00,77.950
198-1207-A-4-H-6-13,198,1207,A,4,H,6,13,31.43,53.978
198-1207-A-5-H-3-72,198,1207,A,5,H,3,72,37.02,71.010
198-1207-A-5-H-5-72,198,1207,A,5,H,5,72,40.02,72.750
198-1207-A-6-H-1-68,198,1207,A,6,H,1,68,43.48,72.620
198-1207-A-6-H-5-68,198,1207,A,6,H,5,68,49.48,77.150
198-1207-A-7-H-1-8,198,1207,A,7,H,1,8,52.38,55.644
198-1207-A-7-H-3-73,198,1207,A,7,H,3,73,56.03,75.270
198-1207-A-7-H-5-31,198,1207,A,7,H,5,31,58.61,61.270
198-1207-A-8-H-2-95,198,1207,A,8,H,2,95,64.25,79.020
198-1207-A-8-H-4-37,198,1207,A,8,H,4,37,66.67,52.396
198-1207-A-9-H-1-48,198,1207,A,9,H,1,48,71.78,68.290
198-1207-A-9-H-1-83,198,1207,A,9,H,1,83,72.13,79.830
198-1207-A-9-H-3-73,198,1207,A,9,H,3,73,75.03,70.480
198-1207-A-10-H-1-72,198,1207,A,10,H,1,72,81.52,72.320
198-1207-A-10-H-2-35,198,1207,A,10,H,2,35,82.65,84.620
198-1207-A-11-H-5-71,198,1207,A,11,H,5,71,97.01,76.660
198-1207-A-11-H-5-98,198,1207,A,11,H,5,98,97.28,83.090
198-1207-A-12-H-1-93,198,1207,A,12,H,1,93,100.73,78.580
198-1207-A-13-H-4-44,198,1207,A,13,H,4,44,114.24,52.396
198-1207-A-13-H-6-72,198,1207,A,13,H,6,72,117.52,67.710
198-1207-A-14-H-1-37,198,1207,A,14,H,1,37,119.17,76.950
198-1207-A-14-H-4-67,198,1207,A,14,H,4,67,123.97,79.490
198-1207-A-15-H-1-110,198,1207,A,15,H,1,110,129.40,68.610
198-1207-A-15-H-4-72,198,1207,A,15,H,4,72,133.52,87.310
198-1207-A-15-H-6-30,198,1207,A,15,H,6,30,136.10,71.210
198-1207-A-16-H-1-119,198,1207,A,16,H,1,119,138.99,86.430
198-1207-A-16-H-2-23,198,1207,A,16,H,2,23,139.53,72.410
198-1207-A-16-H-4-68,198,1207,A,16,H,4,68,142.98,75.200
198-1207-A-17-H-1-85,198,1207,A,17,H,1,85,148.15,85.840
198-1207-A-17-H-2-95,198,1207,A,17,H,2,95,149.75,74.030
198-1207-A-17-H-2-124,198,1207,A,17,H,2,124,150.04,79.600
198-1207-A-18-H-1-137,198,1207,A,18,H,1,137,158.17,92.490
198-1207-A-18-H-5-90,198,1207,A,18,H,5,90,163.70,65.020
198-1207-A-18-H-6-73,198,1207,A,18,H,6,73,165.03,95.440
198-1207-A-21-X-2-86,198,1207,A,21,X,2,86,184.16,97.290
198-1207-A-21-X-4-88,198,1207,A,21,X,4,88,187.18,98.230
198-1207-A-23-X-1-89,198,1207,A,23,X,1,89,198.79,97.230
198-1207-A-23-X-4-89,198,1207,A,23,X,4,89,203.29,96.950
198-1207-A-23-X-6-89,198,1207,A,23,X,6,89,206.29,97.860
198-1207-A-24-X-2-34,198,1207,A,24,X,2,34,209.44,97.450
198-1207-A-24-X-4-87,198,1207,A,24,X,4,87,212.97,97.310
198-1207-A-24-X-5-46,198,1207,A,24,X,5,46,214.06,96.710
198-1207-B-1-R-2-56,198,1207,B,1,R,2,56,159.06,91.290
198-1207-B-1-R-3-13,198,1207,B,1,R,3,13,160.13,80.090
198-1207-B-1-R-5-63,198,1207,B,1,R,5,63,163.13,80.500
198-1207-B-2-R-5-26,198,1207,B,2,R,5,26,172.86,96.370
198-1207-B-2-R-5-80,198,1207,B,2,R,5,80,173.40,96.380
198-1207-B-3-R-2-50,198,1207,B,3,R,2,50,178.20,96.670
198-1207-B-4-R-2-53,198,1207,B,4,R,2,53,187.83,97.410
198-1207-B-4-R-3-53,198,1207,B,4,R,3,53,189.33,96.710
198-1207-B-5-R-2-74,198,1207,B,5,R,2,74,197.74,96.910
198-1207-B-6-R-1-65,198,1207,B,6,R,1,65,205.75,96.600
198-1207-B-40-R-CC-30,198,1207,B,40,R,CC,30,526.80,60.930
198-1207-B-46-R-1-52,198,1207,B,46,R,1,52,584.72,64.200

In [53]:
# You can of course filter for more than 1 condition. Notice that I wrap each statement into a '()'. I also separate each statement by an 'AND' Python operator, '&':
geochemistry_df[(geochemistry_df['CaCO3 (wt %)'] >=50) & (geochemistry_df['Depth (mbsf)'] <100)]

,Leg,Site,H,Cor,T,Sc,Top(cm),Depth (mbsf),CaCO3 (wt %)
198-1207-A-2-H-2-65,198,1207,A,2,H,2,65,6.95,69.630
198-1207-A-3-H-1-66,198,1207,A,3,H,1,66,14.96,76.000
198-1207-A-3-H-2-126,198,1207,A,3,H,2,126,17.06,55.478
198-1207-A-4-H-4-70,198,1207,A,4,H,4,70,29.00,77.950
198-1207-A-4-H-6-13,198,1207,A,4,H,6,13,31.43,53.978
198-1207-A-5-H-3-72,198,1207,A,5,H,3,72,37.02,71.010
198-1207-A-5-H-5-72,198,1207,A,5,H,5,72,40.02,72.750
198-1207-A-6-H-1-68,198,1207,A,6,H,1,68,43.48,72.620
198-1207-A-6-H-5-68,198,1207,A,6,H,5,68,49.48,77.150
198-1207-A-7-H-1-8,198,1207,A,7,H,1,8,52.38,55.644
198-1207-A-7-H-3-73,198,1207,A,7,H,3,73,56.03,75.270
198-1207-A-7-H-5-31,198,1207,A,7,H,5,31,58.61,61.270
198-1207-A-8-H-2-95,198,1207,A,8,H,2,95,64.25,79.020
198-1207-A-8-H-4-37,198,1207,A,8,H,4,37,66.67,52.396
198-1207-A-9-H-1-48,198,1207,A,9,H,1,48,71.78,68.290
198-1207-A-9-H-1-83,198,1207,A,9,H,1,83,72.13,79.830
198-1207-A-9-H-3-73,198,1207,A,9,H,3,73,75.03,70.480
198-1207-A-10-H-1-72,198,1207,A,10,H,1,72,81.52,72.320
198-1207-A-10-H-2-35,198,1207,A,10,H,2,35,82.65,84.620
198-1207-A-11-H-5-71,198,1207,A,11,H,5,71,97.01,76.660
198-1207-A-11-H-5-98,198,1207,A,11,H,5,98,97.28,83.090

In [54]:
# You can also use an 'OR' Python operator, '|'. In this case I get all the samples above 100 mbsf irrespective of carbonate content 
# AND all the samples below 100 mbsf with >=50% carbonates:
geochemistry_df[(geochemistry_df['CaCO3 (wt %)'] >=50) | (geochemistry_df['Depth (mbsf)'] <100)]

,Leg,Site,H,Cor,T,Sc,Top(cm),Depth (mbsf),CaCO3 (wt %)
198-1207-A-2-H-2-65,198,1207,A,2,H,2,65,6.95,69.630
198-1207-A-2-H-5-33,198,1207,A,2,H,5,33,11.13,49.314
198-1207-A-3-H-1-66,198,1207,A,3,H,1,66,14.96,76.000
198-1207-A-3-H-2-126,198,1207,A,3,H,2,126,17.06,55.478
198-1207-A-3-H-4-70,198,1207,A,3,H,4,70,19.50,46.981
...,...,...,...,...,...,...,...,...,...
198-1207-B-4-R-3-53,198,1207,B,4,R,3,53,189.33,96.710
198-1207-B-5-R-2-74,198,1207,B,5,R,2,74,197.74,96.910
198-1207-B-6-R-1-65,198,1207,B,6,R,1,65,205.75,96.600
198-1207-B-40-R-CC-30,198,1207,B,40,R,CC,30,526.80,60.930
198-1207-B-46-R-1-52,198,1207,B,46,R,1,52,584.72,64.200

In [55]:
# You can combine 'OR' and 'AND' logic to your hearts content. The '()' give the order of priority for the operation. In the case below, it will return all the data from the previous
# query above, but limit it to the samples above 300 mbsf (notice the '&' at the end)
geochemistry_df[((geochemistry_df['CaCO3 (wt %)'] >=50) | (geochemistry_df['Depth (mbsf)'] <100)) & (geochemistry_df['Depth (mbsf)'] <150)]

,Leg,Site,H,Cor,T,Sc,Top(cm),Depth (mbsf),CaCO3 (wt %)
198-1207-A-2-H-2-65,198,1207,A,2,H,2,65,6.95,69.630
198-1207-A-2-H-5-33,198,1207,A,2,H,5,33,11.13,49.314
198-1207-A-3-H-1-66,198,1207,A,3,H,1,66,14.96,76.000
198-1207-A-3-H-2-126,198,1207,A,3,H,2,126,17.06,55.478
198-1207-A-3-H-4-70,198,1207,A,3,H,4,70,19.50,46.981
198-1207-A-4-H-4-70,198,1207,A,4,H,4,70,29.00,77.950
198-1207-A-4-H-6-13,198,1207,A,4,H,6,13,31.43,53.978
198-1207-A-5-H-1-72,198,1207,A,5,H,1,72,34.02,49.980
198-1207-A-5-H-3-72,198,1207,A,5,H,3,72,37.02,71.010
198-1207-A-5-H-5-72,198,1207,A,5,H,5,72,40.02,72.750
198-1207-A-6-H-1-68,198,1207,A,6,H,1,68,43.48,72.620
198-1207-A-6-H-3-68,198,1207,A,6,H,3,68,46.48,41.067
198-1207-A-6-H-5-68,198,1207,A,6,H,5,68,49.48,77.150
198-1207-A-7-H-1-8,198,1207,A,7,H,1,8,52.38,55.644
198-1207-A-7-H-3-73,198,1207,A,7,H,3,73,56.03,75.270
198-1207-A-7-H-5-31,198,1207,A,7,H,5,31,58.61,61.270
198-1207-A-8-H-2-95,198,1207,A,8,H,2,95,64.25,79.020
198-1207-A-8-H-4-37,198,1207,A,8,H,4,37,66.67,52.396
198-1207-A-8-H-5-94,198,1207,A,8,H,5,94,68.74,16.160
198-1207-A-9-H-1-48,198,1207,A,9,H,1,48,71.78,68.290
198-1207-A-9-H-1-83,198,1207,A,9,H,1,83,72.13,79.830
198-1207-A-9-H-3-73,198,1207,A,9,H,3,73,75.03,70.480
198-1207-A-10-H-1-16,198,1207,A,10,H,1,16,80.96,44.149
198-1207-A-10-H-1-72,198,1207,A,10,H,1,72,81.52,72.320
198-1207-A-10-H-2-35,198,1207,A,10,H,2,35,82.65,84.620
198-1207-A-11-H-3-23,198,1207,A,11,H,3,23,93.53,46.398
198-1207-A-11-H-5-71,198,1207,A,11,H,5,71,97.01,76.660
198-1207-A-11-H-5-98,198,1207,A,11,H,5,98,97.28,83.090
198-1207-A-12-H-1-93,198,1207,A,12,H,1,93,100.73,78.580
198-1207-A-13-H-4-44,198,1207,A,13,H,4,44,114.24,52.396
198-1207-A-13-H-6-72,198,1207,A,13,H,6,72,117.52,67.710
198-1207-A-14-H-1-37,198,1207,A,14,H,1,37,119.17,76.950
198-1207-A-14-H-4-67,198,1207,A,14,H,4,67,123.97,79.490
198-1207-A-15-H-1-110,198,1207,A,15,H,1,110,129.40,68.610
198-1207-A-15-H-4-72,198,1207,A,15,H,4,72,133.52,87.310
198-1207-A-15-H-6-30,198,1207,A,15,H,6,30,136.10,71.210
198-1207-A-16-H-1-119,198,1207,A,16,H,1,119,138.99,86.430
198-1207-A-16-H-2-23,198,1207,A,16,H,2,23,139.53,72.410
198-1207-A-16-H-4-68,198,1207,A,16,H,4,68,142.98,75.200
198-1207-A-17-H-1-85,198,1207,A,17,H,1,85,148.15,85.840
198-1207-A-17-H-2-95,198,1207,A,17,H,2,95,149.75,74.030

#### Selection with loc and iloc

You can also access data in your dataframe using the '.loc' method (stands for 'location') and '.iloc' method ('index location').

In [56]:
# Here is an example of using 'loc'. You first give axis 0, i.e. the row names. Then you give the column index name(s). You can either pass a value (string name) or a list of values.
geochemistry_df.loc[['198-1207-A-2-H-5-33', '198-1207-A-12-H-1-93'],'CaCO3 (wt %)'] # Will output the carbonate content for the two selected samples

198-1207-A-2-H-5-33     49.314
198-1207-A-12-H-1-93    78.580
Name: CaCO3 (wt %), dtype: float64

In [57]:
# The ':' sign is shorthand for 'all'. For instance, this will output all columns for the selected samples:
geochemistry_df.loc[['198-1207-A-2-H-5-33', '198-1207-A-12-H-1-93'],:]

,Leg,Site,H,Cor,T,Sc,Top(cm),Depth (mbsf),CaCO3 (wt %)
198-1207-A-2-H-5-33,198,1207,A,2,H,5,33,11.13,49.314
198-1207-A-12-H-1-93,198,1207,A,12,H,1,93,100.73,78.580

In [58]:
# Or all samples for the selected column:
geochemistry_df.loc[:,'CaCO3 (wt %)']

198-1207-A-2-H-2-65      69.630
198-1207-A-2-H-5-33      49.314
198-1207-A-3-H-1-66      76.000
198-1207-A-3-H-2-126     55.478
198-1207-A-3-H-4-70      46.981
                          ...
198-1207-B-40-R-CC-30    60.930
198-1207-B-44-R-1-60      0.000
198-1207-B-44-R-1-76      0.000
198-1207-B-44-R-1-103     0.000
198-1207-B-46-R-1-52     64.200
Name: CaCO3 (wt %), Length: 71, dtype: float64

In [59]:
# Similar to when you sliced ndarrays, you can slice using loc:
# Or all samples for the selected column:
geochemistry_df.loc[:'198-1207-A-4-H-4-70','CaCO3 (wt %)'] # This returns carbonate content for all sample up to and including 198-1207-A-4-H-4-70

198-1207-A-2-H-2-65     69.630
198-1207-A-2-H-5-33     49.314
198-1207-A-3-H-1-66     76.000
198-1207-A-3-H-2-126    55.478
198-1207-A-3-H-4-70     46.981
198-1207-A-4-H-4-70     77.950
Name: CaCO3 (wt %), dtype: float64

In [60]:
# iloc works similarly to loc, but uses the index position of the row and columns. So, here we take rows 7 to 27, and columns 7 (Depth) to the end (CaCO3)
geochemistry_df.iloc[7:27, 7:]

                      Depth (mbsf)  CaCO3 (wt %)
198-1207-A-5-H-1-72          34.02        49.980
198-1207-A-5-H-3-72          37.02        71.010
198-1207-A-5-H-5-72          40.02        72.750
198-1207-A-6-H-1-68          43.48        72.620
198-1207-A-6-H-3-68          46.48        41.067
198-1207-A-6-H-5-68          49.48        77.150
198-1207-A-7-H-1-8           52.38        55.644
198-1207-A-7-H-3-73          56.03        75.270
198-1207-A-7-H-5-31          58.61        61.270
198-1207-A-8-H-2-95          64.25        79.020
198-1207-A-8-H-4-37          66.67        52.396
198-1207-A-8-H-5-94          68.74        16.160
198-1207-A-9-H-1-48          71.78        68.290
198-1207-A-9-H-1-83          72.13        79.830
198-1207-A-9-H-3-73          75.03        70.480
198-1207-A-10-H-1-16         80.96        44.149
198-1207-A-10-H-1-72         81.52        72.320
198-1207-A-10-H-2-35         82.65        84.620
198-1207-A-11-H-3-23         93.53        46.398
198-1207-A-11-H-5-71         97.01        76.660

#### Sorting series and dataframes

You can also sort a dataframe by its index, or by a column.

In [61]:
# Sorting our geochemistry dataframe by it's index. Because the index is a string, it will sort it alphabetically:
geochemistry_df.sort_index()

,Leg,Site,H,Cor,T,Sc,Top(cm),Depth (mbsf),CaCO3 (wt %)
198-1207-A-10-H-1-16,198,1207,A,10,H,1,16,80.96,44.149
198-1207-A-10-H-1-72,198,1207,A,10,H,1,72,81.52,72.320
198-1207-A-10-H-2-35,198,1207,A,10,H,2,35,82.65,84.620
198-1207-A-11-H-3-23,198,1207,A,11,H,3,23,93.53,46.398
198-1207-A-11-H-5-71,198,1207,A,11,H,5,71,97.01,76.660
...,...,...,...,...,...,...,...,...,...
198-1207-B-44-R-1-60,198,1207,B,44,R,1,60,565.60,0.000
198-1207-B-44-R-1-76,198,1207,B,44,R,1,76,565.76,0.000
198-1207-B-46-R-1-52,198,1207,B,46,R,1,52,584.72,64.200
198-1207-B-5-R-2-74,198,1207,B,5,R,2,74,197.74,96.910
198-1207-B-6-R-1-65,198,1207,B,6,R,1,65,205.75,96.600

In [62]:
# to reverse sort it:
geochemistry_df.sort_index(ascending = False)

,Leg,Site,H,Cor,T,Sc,Top(cm),Depth (mbsf),CaCO3 (wt %)
198-1207-B-6-R-1-65,198,1207,B,6,R,1,65,205.75,96.600
198-1207-B-5-R-2-74,198,1207,B,5,R,2,74,197.74,96.910
198-1207-B-46-R-1-52,198,1207,B,46,R,1,52,584.72,64.200
198-1207-B-44-R-1-76,198,1207,B,44,R,1,76,565.76,0.000
198-1207-B-44-R-1-60,198,1207,B,44,R,1,60,565.60,0.000
...,...,...,...,...,...,...,...,...,...
198-1207-A-11-H-5-71,198,1207,A,11,H,5,71,97.01,76.660
198-1207-A-11-H-3-23,198,1207,A,11,H,3,23,93.53,46.398
198-1207-A-10-H-2-35,198,1207,A,10,H,2,35,82.65,84.620
198-1207-A-10-H-1-72,198,1207,A,10,H,1,72,81.52,72.320
198-1207-A-10-H-1-16,198,1207,A,10,H,1,16,80.96,44.149

In [63]:
# Sorting a series:
geochemistry_df['CaCO3 (wt %)'].sort_values()

198-1207-B-44-R-1-103     0.000
198-1207-B-44-R-1-76      0.000
198-1207-B-44-R-1-60      0.000
198-1207-A-8-H-5-94      16.160
198-1207-A-12-H-6-28     31.737
                          ...
198-1207-A-24-X-4-87     97.310
198-1207-B-4-R-2-53      97.410
198-1207-A-24-X-2-34     97.450
198-1207-A-23-X-6-89     97.860
198-1207-A-21-X-4-88     98.230
Name: CaCO3 (wt %), Length: 71, dtype: float64

In [64]:
# And you can sort (or reverse sort) a whole dataframe by your preferred column. Here, the percentage of carbonate:
geochemistry_df.sort_values(by='CaCO3 (wt %)')

,Leg,Site,H,Cor,T,Sc,Top(cm),Depth (mbsf),CaCO3 (wt %)
198-1207-B-44-R-1-103,198,1207,B,44,R,1,103,566.03,0.000
198-1207-B-44-R-1-76,198,1207,B,44,R,1,76,565.76,0.000
198-1207-B-44-R-1-60,198,1207,B,44,R,1,60,565.60,0.000
198-1207-A-8-H-5-94,198,1207,A,8,H,5,94,68.74,16.160
198-1207-A-12-H-6-28,198,1207,A,12,H,6,28,107.58,31.737
...,...,...,...,...,...,...,...,...,...
198-1207-A-24-X-4-87,198,1207,A,24,X,4,87,212.97,97.310
198-1207-B-4-R-2-53,198,1207,B,4,R,2,53,187.83,97.410
198-1207-A-24-X-2-34,198,1207,A,24,X,2,34,209.44,97.450
198-1207-A-23-X-6-89,198,1207,A,23,X,6,89,206.29,97.860
198-1207-A-21-X-4-88,198,1207,A,21,X,4,88,187.18,98.230

In [65]:
# And here is a slightly more evolved example, reverse sorting by % carbonate first and by depth second. You can pass as many columns in the list as you wish:
geochemistry_df.sort_values(by=['CaCO3 (wt %)', 'Depth (mbsf)'], ascending=False)

,Leg,Site,H,Cor,T,Sc,Top(cm),Depth (mbsf),CaCO3 (wt %)
198-1207-A-21-X-4-88,198,1207,A,21,X,4,88,187.18,98.230
198-1207-A-23-X-6-89,198,1207,A,23,X,6,89,206.29,97.860
198-1207-A-24-X-2-34,198,1207,A,24,X,2,34,209.44,97.450
198-1207-B-4-R-2-53,198,1207,B,4,R,2,53,187.83,97.410
198-1207-A-24-X-4-87,198,1207,A,24,X,4,87,212.97,97.310
...,...,...,...,...,...,...,...,...,...
198-1207-A-12-H-6-28,198,1207,A,12,H,6,28,107.58,31.737
198-1207-A-8-H-5-94,198,1207,A,8,H,5,94,68.74,16.160
198-1207-B-44-R-1-103,198,1207,B,44,R,1,103,566.03,0.000
198-1207-B-44-R-1-76,198,1207,B,44,R,1,76,565.76,0.000
198-1207-B-44-R-1-60,198,1207,B,44,R,1,60,565.60,0.000

## Summarizing and Computing Descriptive Statistics

You can pretty much do the same descriptive statistics on a dataframe or a dataframe series that you would on an ndarray:

In [66]:
# Describe gives you a quick sense of the nature of your dataframe in an easy to digest format:
geochemistry_df.describe()

         Leg    Site        Cor     Top(cm)  Depth (mbsf)  CaCO3 (wt %)
count   71.0    71.0  71.000000   71.000000     71.000000     71.000000
mean   198.0  1207.0  12.985915   66.000000    146.213521     70.933310
std      0.0     0.0  10.704462   29.079202    129.506866     24.026248
min    198.0  1207.0   1.000000    8.000000      6.950000      0.000000
25%    198.0  1207.0   5.000000   45.000000     67.705000     58.287000
50%    198.0  1207.0  11.000000   70.000000    123.970000     75.270000
75%    198.0  1207.0  17.000000   86.500000    175.800000     89.300000
max    198.0  1207.0  46.000000  137.000000    584.720000     98.230000

In [67]:
# You can also limit the description to one series (column)
geochemistry_df['CaCO3 (wt %)'].describe()

count    71.000000
mean     70.933310
std      24.026248
min       0.000000
25%      58.287000
50%      75.270000
75%      89.300000
max      98.230000
Name: CaCO3 (wt %), dtype: float64

In [68]:
# You can sum all of the columns. Some may not make a lot of sense but it can sometime be useful.
geochemistry_df.sum()

Leg                                                         14058
Site                                                        85697
H               AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...
Cor                                                           922
T               HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH...
Sc              2512446135135135245113112355162461141461241221...
Top(cm)                                                      4686
Depth (mbsf)                                            10381.160
CaCO3 (wt %)                                             5036.265
dtype: object

In [69]:
# If you want to add the values in each column together per row, use this syntax:
geochemistry_df.sum(axis='columns')

198-1207-A-2-H-2-65      1548.580
198-1207-A-2-H-5-33      1500.444
198-1207-A-3-H-1-66      1564.960
198-1207-A-3-H-2-126     1606.538
198-1207-A-3-H-4-70      1544.481
                           ...
198-1207-B-40-R-CC-30    2062.730
198-1207-B-44-R-1-60     2074.600
198-1207-B-44-R-1-76     2090.760
198-1207-B-44-R-1-103    2118.030
198-1207-B-46-R-1-52     2151.920
Length: 71, dtype: float64

In [70]:
# If you want just the mean:
geochemistry_df.mean()

Leg              198.000000
Site            1207.000000
Cor               12.985915
Top(cm)           66.000000
Depth (mbsf)     146.213521
CaCO3 (wt %)      70.933310
dtype: float64

In [71]:
# You can do a cummulative sum:
geochemistry_df.cumsum()

,Leg,Site,H,Cor,T,Sc,Top(cm),Depth (mbsf),CaCO3 (wt %)
198-1207-A-2-H-2-65,198,1207,A,2,H,2,65,6.95,69.630
198-1207-A-2-H-5-33,396,2414,AA,4,HH,25,98,18.08,118.944
198-1207-A-3-H-1-66,594,3621,AAA,7,HHH,251,164,33.04,194.944
198-1207-A-3-H-2-126,792,4828,AAAA,10,HHHH,2512,290,50.10,250.422
198-1207-A-3-H-4-70,990,6035,AAAAA,13,HHHHH,25124,360,69.60,297.403
...,...,...,...,...,...,...,...,...,...
198-1207-B-40-R-CC-30,13266,80869,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...,744,HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH...,2512446135135135245113112355162461141461241221...,4395,8099.05,4972.065
198-1207-B-44-R-1-60,13464,82076,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...,788,HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH...,2512446135135135245113112355162461141461241221...,4455,8664.65,4972.065
198-1207-B-44-R-1-76,13662,83283,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...,832,HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH...,2512446135135135245113112355162461141461241221...,4531,9230.41,4972.065
198-1207-B-44-R-1-103,13860,84490,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...,876,HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH...,2512446135135135245113112355162461141461241221...,4634,9796.44,4972.065
198-1207-B-46-R-1-52,14058,85697,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...,922,HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH...,2512446135135135245113112355162461141461241221...,4686,10381.16,5036.265

In [72]:
# Some of the values above don't make sense because they are not numeric. You can specify what columns to do the cummulative sum on for a cleaner result:
geochemistry_df[['CaCO3 (wt %)', 'Depth (mbsf)']].cumsum()

                       CaCO3 (wt %)  Depth (mbsf)
198-1207-A-2-H-2-65          69.630          6.95
198-1207-A-2-H-5-33         118.944         18.08
198-1207-A-3-H-1-66         194.944         33.04
198-1207-A-3-H-2-126        250.422         50.10
198-1207-A-3-H-4-70         297.403         69.60
...                             ...           ...
198-1207-B-40-R-CC-30      4972.065       8099.05
198-1207-B-44-R-1-60       4972.065       8664.65
198-1207-B-44-R-1-76       4972.065       9230.41
198-1207-B-44-R-1-103      4972.065       9796.44
198-1207-B-46-R-1-52       5036.265      10381.16

[71 rows x 2 columns]

In [73]:
# A useful statistics is the percentage change between two values. This calculates the % change between a row and the preceding row. We can look at carbonates for instance:
geochemistry_df['CaCO3 (wt %)'].pct_change()

198-1207-A-2-H-2-65           NaN
198-1207-A-2-H-5-33     -0.291771
198-1207-A-3-H-1-66      0.541145
198-1207-A-3-H-2-126    -0.270026
198-1207-A-3-H-4-70     -0.153160
                           ...
198-1207-B-40-R-CC-30   -0.369255
198-1207-B-44-R-1-60    -1.000000
198-1207-B-44-R-1-76          NaN
198-1207-B-44-R-1-103         NaN
198-1207-B-46-R-1-52          inf
Name: CaCO3 (wt %), Length: 71, dtype: float64

In [74]:
# We can also look at the correlation between two series:
geochemistry_df['CaCO3 (wt %)'].corr(geochemistry_df['Depth (mbsf)'])

-0.23892714874965887

In [75]:
# Or the covarience between two values:
geochemistry_df['CaCO3 (wt %)'].cov(geochemistry_df['Depth (mbsf)'])

-743.4371313923541

In [76]:
# You can also very quickly assess the correlation between all of the series in your dataframe:
geochemistry_df.corr()

              Leg  Site       Cor   Top(cm)  Depth (mbsf)  CaCO3 (wt %)
Leg           NaN   NaN       NaN       NaN           NaN           NaN
Site          NaN   NaN       NaN       NaN           NaN           NaN
Cor           NaN   NaN  1.000000  0.162327      0.862302     -0.292044
Top(cm)       NaN   NaN  0.162327  1.000000      0.041463      0.129047
Depth (mbsf)  NaN   NaN  0.862302  0.041463      1.000000     -0.238927
CaCO3 (wt %)  NaN   NaN -0.292044  0.129047     -0.238927      1.000000

In [77]:
# And the same with covariance
geochemistry_df.cov()

              Leg  Site          Cor     Top(cm)  Depth (mbsf)  CaCO3 (wt %)
Leg           0.0   0.0     0.000000    0.000000      0.000000      0.000000
Site          0.0   0.0     0.000000    0.000000      0.000000      0.000000
Cor           0.0   0.0   114.585513   50.528571   1195.410336    -75.110253
Top(cm)       0.0   0.0    50.528571  845.600000    156.147429     90.160543
Depth (mbsf)  0.0   0.0  1195.410336  156.147429  16772.028340   -743.437131
CaCO3 (wt %)  0.0   0.0   -75.110253   90.160543   -743.437131    577.260589

### 2.3.5 Combining and Merging Datasets <a id="combine"></a>

Oftentimes you will find yourself with multiple datasets that need to be merged together, either along their index (i.e. you add new series, or columns, to your data) or by concatenating along one of the two axis (for instance, adding new records to the dataset). Let's explore how this is done in Pandas.

#### Merging on Index

Let's assume that you have two dataframes with at least some overlap in their index. This could be for instance an index that is based on the depth below surface, or the sample name. You are then interested in merging the series (columns) that are common between the two datasets together. For this, you need to merge along the index.

In [78]:
# Let's create two very simple dataframes for this example. This will also show you how to create dataframe programmatically using a dictionary:

mineralogy = pd.DataFrame({'mineral': ['calcite', 'dolomite', 'quartz', 'quartz', 'calcite', 'quartz'],
                      'color': ['yellow', 'pink','grey', 'grey','white','pink'],'depth (m)':[2.,4.,6.,8.,10.,12.]}, index=['sample 1', 'sample 2','sample 3','sample 4','sample 5','sample 6'])
mineralogy

           mineral   color  depth (m)
sample 1   calcite  yellow        2.0
sample 2  dolomite    pink        4.0
sample 3    quartz    grey        6.0
sample 4    quartz    grey        8.0
sample 5   calcite   white       10.0
sample 6    quartz    pink       12.0

In [79]:
formation_name = pd.DataFrame({'formation': ['Shuaiba', 'Greyburg', 'Farah', 'Farah', 'Shuaiba'],'depth (m)':[2.,6.,8.,14.,10.] }, index=['sample 1', 'sample 3','sample 4','sample 7','sample 5'])
formation_name

         formation  depth (m)
sample 1   Shuaiba        2.0
sample 3  Greyburg        6.0
sample 4     Farah        8.0
sample 7     Farah       14.0
sample 5   Shuaiba       10.0

In [80]:
# We can now do a merge of the two dataframe, which returns ONLY the records where we have data in both dataframes
pd.merge(mineralogy, formation_name, left_index=True, right_index=True)

          mineral   color  depth (m)_x formation  depth (m)_y
sample 1  calcite  yellow          2.0   Shuaiba          2.0
sample 3   quartz    grey          6.0  Greyburg          6.0
sample 4   quartz    grey          8.0     Farah          8.0
sample 5  calcite   white         10.0   Shuaiba         10.0

In [81]:
# We can also use the 'concat' syntax (for 'concatenate) to join two dataframe together, passing the axis as a paremeter. 
# Here we join based on new columns (axis 1) and we want to drop rows where we don't have all the data (join = "inner"):
pd.concat([mineralogy,formation_name], join="inner", axis=1)

          mineral   color  depth (m) formation  depth (m)
sample 1  calcite  yellow        2.0   Shuaiba        2.0
sample 3   quartz    grey        6.0  Greyburg        6.0
sample 4   quartz    grey        8.0     Farah        8.0
sample 5  calcite   white       10.0   Shuaiba       10.0

In [82]:
# Concat is very flexible and we can also use it to concatenate data based on adding new rows. For instance, if we create a new dataframe with new samples:
mineralogy_extended = pd.DataFrame({'mineral': ['calcite', 'quartz'],'color': ['white','pink'],'depth (m)':[14.,16.]}, index=['sample 7', 'sample 8'])
                                                                              
# We can concatenate this data to the old mineralogy to add rows.                                                                                
pd.concat([mineralogy,mineralogy_extended], join="inner", axis=0) #NB the axis=0 is optional, as if no axis is stipulated Pandas assumes it is 0.

           mineral   color  depth (m)
sample 1   calcite  yellow        2.0
sample 2  dolomite    pink        4.0
sample 3    quartz    grey        6.0
sample 4    quartz    grey        8.0
sample 5   calcite   white       10.0
sample 6    quartz    pink       12.0
sample 7   calcite   white       14.0
sample 8    quartz    pink       16.0

## Exercise 3

Use the two datasets we have uploaded from the files before, the geochemistry_df and the ngr_df. However, reload them from the file to endure you have a clean sheet. Using the techniques explained above, answer this simple question: what is the correlation between wt % carbonate and natural gamma ray (NGR) counts at this deep-sea location, and what does it mean?

N.B. Try to avoid code duplication by using methods whenever you need to do something twice or more

Hint: You will need to merge your datasets to be able to answer this question.

In [83]:
# SOLUTION

# I will simply create an index with the ODP name, as shown before, so I can easily merge my dataset. Because I want to avoid code duplication, I will create a method that
# create this index. I will pass a dataframe to the method. I will return a reindexed dataframe.

def read_and_reindex_df(my_df):
    new_index = my_df['Leg'].astype(str) + '-' + my_df['Site'].astype(str) + '-' \
    + my_df['H'].astype(str) + '-' + my_df['Cor'].astype(str) + '-' \
    + my_df['T'].astype(str) + '-' + my_df['Sc'].astype(str) + '-' +my_df['Top(cm)'].astype(str)
    my_df.index = new_index
    return  my_df

In [85]:
# Now I can use my generic method to read and reindex both files when I define the dataframes. I do it in two different cells so I can check the results visually.
geochemistry_df = read_and_reindex_df(pd.read_csv('Datasets/1207_Geochemistry.csv'))
geochemistry_df

,Leg,Site,H,Cor,T,Sc,Top(cm),Depth (mbsf),CaCO3 (wt %)
198-1207-A-2-H-2-65,198,1207,A,2,H,2,65,6.95,69.630
198-1207-A-2-H-5-33,198,1207,A,2,H,5,33,11.13,49.314
198-1207-A-3-H-1-66,198,1207,A,3,H,1,66,14.96,76.000
198-1207-A-3-H-2-126,198,1207,A,3,H,2,126,17.06,55.478
198-1207-A-3-H-4-70,198,1207,A,3,H,4,70,19.50,46.981
...,...,...,...,...,...,...,...,...,...
198-1207-B-40-R-CC-30,198,1207,B,40,R,CC,30,526.80,60.930
198-1207-B-44-R-1-60,198,1207,B,44,R,1,60,565.60,0.000
198-1207-B-44-R-1-76,198,1207,B,44,R,1,76,565.76,0.000
198-1207-B-44-R-1-103,198,1207,B,44,R,1,103,566.03,0.000
198-1207-B-46-R-1-52,198,1207,B,46,R,1,52,584.72,64.200

In [86]:
ngr_df = read_and_reindex_df(pd.read_excel('Datasets/1207_NGR.xls'))
ngr_df

,Leg,Site,H,Cor,T,Sc,Top(cm),Depth (mbsf),Corr. Counts
198-1207-A-1-H-1-30,198,1207,A,1,H,1,30,0.3,20.08
198-1207-A-1-H-1-60,198,1207,A,1,H,1,60,0.6,17.48
198-1207-A-1-H-1-90,198,1207,A,1,H,1,90,0.9,17.75
198-1207-A-1-H-1-120,198,1207,A,1,H,1,120,1.2,20.22
198-1207-A-1-H-2-30,198,1207,A,1,H,2,30,1.8,19.22
...,...,...,...,...,...,...,...,...,...
198-1207-B-49-R-1-50,198,1207,B,49,R,1,50,613.7,24.12
198-1207-B-49-R-1-60,198,1207,B,49,R,1,60,613.8,21.45
198-1207-B-49-R-1-70,198,1207,B,49,R,1,70,613.9,15.22
198-1207-B-49-R-1-80,198,1207,B,49,R,1,80,614.0,11.92
198-1207-B-49-R-1-90,198,1207,B,49,R,1,90,614.1,10.35

In [87]:
# Most of the hard bit is done now. What I need to do now is a concat of both dataframes on axis 1, passing an inner join to only select samples where I have both data
merged_df = pd.concat([geochemistry_df,ngr_df], join = "inner", axis=1)
merged_df

,Leg,Site,H,Cor,T,Sc,Top(cm),Depth (mbsf),CaCO3 (wt %),Leg,Site,H,Cor,T,Sc,Top(cm),Depth (mbsf),Corr. Counts
198-1207-A-13-H-2-30,198,1207,A,13,H,2,30,111.1,36.319,198,1207,A,13,H,2,30,111.1,9.65
198-1207-A-15-H-6-30,198,1207,A,15,H,6,30,136.1,71.210,198,1207,A,15,H,6,30,136.1,6.52
198-1207-A-18-H-5-90,198,1207,A,18,H,5,90,163.7,65.020,198,1207,A,18,H,5,90,163.7,25.38
198-1207-B-44-R-1-60,198,1207,B,44,R,1,60,565.6,0.000,198,1207,B,44,R,1,60,565.6,50.68

In [88]:
# As you can see, only 4 samples are exact match. Not a lot, but we can still compute a correlation:
merged_df['CaCO3 (wt %)'].corr(merged_df['Corr. Counts'])

-0.768617914705454

It appears there is a significant negative correlation between the NGR and the % carbonate. This makes sense, as NGR is linked to clay content, it will be inversely proportional to carbonate content in these sediments.

# Feedback Form

Hope you enjoyed this session!

Please take 2 minutes to fill the form about this session (there will be one form per session, so your feedback is on the current session only). Your feedback will directly guide any changes I will do to the course for the future generation of students who will take it, including the new masters in geo-energies and the undegraduate students. So feel free to comment both on what you like (so I know I am on the right track) and what you disliked/found hard (so I can adjust for the following years).

Thank you, your feedback is precious!

Cedric

In [89]:
%%html 
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe2V8t-uAvbS-bMuw5dtkDrNYu6ple4_aGRVhVVzLIgHo5DRw/viewform?hl=en" width="800" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>